<!DOCTYPE html>
<html>
<head>
    <title>Estante</title>
</head>
<body>
    <h1>{{ estante[2] }}</h1>
    <ul>
        {% for livro in livros %}
            <li>{{ livro[3] }} - {{ livro[4] }}</li>
            <a href="{{ url_for('editar_livro', estante_id=estante[0], livro_id=livro[0]) }}">Editar</a>
            <form method="POST" action="{{ url_for('excluir_livro', livro_id=livro[0]) }}" style="display: inline;">
                <input type="submit" value="Excluir">
            </form>
        {% endfor %}
    </ul>
    <a href="{{ url_for('novo_livro', estante_id=estante[0]) }}">Criar Novo Livro</a><br>
    <a href="{{ url_for('estantes') }}">Voltar para Estantes</a>
</body>
</html>

